$sizingSteps: (xxs:0.25rem, xs:0.5rem, s:0.75rem, m:1rem, l:1.25rem, xl:1.5rem, xxl:2rem, xxxl:3rem);

@each $key, $val in $sizingSteps {
  .pad-all-#{$key} {
    padding: $val;
  }
  .pad-t-#{$key} {
    padding-top: $val;
  }
  .pad-r-#{$key} {
    padding-right: $val;
  }
  .pad-b-#{$key} {
    padding-bottom: $val;
  }
  .pad-l-#{$key} {
    padding-left: $val;
  }

  .marg-all-#{$key} {
    margin: $val;
  }
  .marg-t-#{$key} {
    margin-top: $val;
  }
  .marg-r-#{$key} {
    margin-right: $val;
  }
  .marg-b-#{$key} {
    margin-bottom: $val;
  }
  .marg-l-#{$key} {
    margin-left: $val;
  }
}

$--title-xxs: get-size(xxs);
$--title-xs: get-size(xs);
$--title-s: get-size(s);
$--title-m: get-size(m);
$--title-l: get-size(l);
$--title-xl: get-size(xl);
$--title-xxl: get-size(xxl);
