
@function get-size($size) {
  @if map-has-key($sizingSteps, $size) {
    @return map-get($sizingSteps, $size);
  }

  @warn "Size (#{$size}) not found!";
  @return "key not found"
}

@mixin font($size: false, $weight: false,  $style: false, $color: false) {
  @if $size { font-size: get-size($size); }
  @if $weight { font-weight: $weight; }
  @if $style { font-style: $style; }
  @if $color { color: $color; }

}
